.footer {
  padding: 1rem 0;
  background-color: #f5f5f5; 
  font-size: 0.8rem;
  gap: 1rem;
  padding: 1rem;
  color: #666;
  a {
    margin-left: 2rem;
    font-family: sans-serif;
    // no underline
    text-decoration: none; 
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    /* Primary/LOGEE ID & Transportation/500 */

    color: #c44500;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
}


.header {
    border-width: 0;
}